input{
    width: 500px;
    height: 1px;
    background-color: white;
    border: none;
    padding: 15px;
    margin-top: 15px;
}

h1{
    background-color: darkgrey;
    width: 700px;
}

.btn{
    background-color:greenyellow;
    height: 30px;
    width: 300px;
    border-radius: 32px;

}